/* Fondo tipo nave espacial */
body {
    background: linear-gradient(to bottom, #0b0c10, #1f2833);
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Título */
h1 {
    font-size: 2rem;
    color: #ff004f;
    text-shadow: 2px 2px #fff, 4px 4px #00ffe4;
    margin-top: 30px;
}

/* Lista de enlaces estilo tripulante */
ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

ul li {
    margin: 20px 0;
}

ul li a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background: #ff004f; /* color tripulante rojo */
    border: 3px solid #00ffe4;
    border-radius: 10px;
    transition: 0.3s;
}

ul li a:hover {
    background: #00ffe4;
    color: #000;
    transform: translateY(-3px);
    box-shadow: 0 0 10px #ff004f, 0 0 20px #00ffe4;
}

p {
    margin-top: 50px;
    color: #ccc;
}
